{% extends 'template.html' %}
{% block content %}
<div class='center_left'>
	<div id = 'textbox'>
		<p id='first_para'><h3 id='starter'>I </h3> lluminare Studios has enjoyed a measure of success and acclaim as a purveyor of hand-colored custom leathers for use in fashion, interior design, and home goods.</p>
	</div>
</div>
<div class='center_right'>
	<div  id="magazines" class="modal-row">
		<p id="mag_title">Western Interiors</p>
		<img class="mag_scroll modal-image" onclick="openModal(); currentSlide(1);" src="../../static/img/western_art.jpg" alt="Multiple brands' leathers including Illuminare" style="width: 60%; margin: 0 auto;">
		<div class='mag_link'>
			<p><a href="/press/robb">< Robb Report</a><a href="/press/autoweek">Autoweek ></a></p>
		</div>
	</div>
</div>

<div id="the_modal" class="modal" onclick = "closeModal()">
	<span class="close cursor" >&times;</span>
	<div class="mySlides">
		<div class="numbers"></div>
		<img src="../../static/img/western_art.jpg" alt="Multiple brands' leathers including Illuminare - bright orange center" style="height: 90%;">
	</div>
	<div class="caption-container">
		<p id="caption"></p>
	</div>
</div>
{% endblock %}
