{% extends 'template.html' %}
			{% block content %}
				<div class='center_left'>
					<div id = 'textbox'>
						<p id='first_para'><h3 id='starter'>I </h3> lluminare Studios draws inspiration from many sources. Here are a few images that inspire us by their color, their form, or their spirit.</p>
					</div>
				</div>
				<div class='center_right'>
					<!-- jinja for each image, image url, endfor -->
					<!-- <a href="imageurl" target="_blank"> -->
						<img src="../../static/img/leather_black.jpg">
					}
					<!-- </a> -->
				</div>
			{% endblock %}
