{% extends 'template.html'%}
{% block content %}
<div class='center_left'>
	<p><h3 id='starter'>I </h3> lluminare Leather was conceived from our desire to create a one-of-a-kind product for our interior and textile projects. We had been customizing leather for years, driving our suppliers crazy. Then it dawned on us: why not create and manufacture a line of upholstery leathers of our own? A specialty line of leathers for designers from a designer was born.</p>
	<p>We can custom create with care and short lead-times almost any cure and finish.</p>
	<p>What you see are inviting and organic materials whose natural beauty is meant to be enhanced and not hidden; pleasing to the senses and able to stand the ravages of time. This simple yet sophisticated material grows more beautiful with age. We make both the weathered and well-worn, ultra-hip and new; distressed and antiqued alongside hot pink paisley and metallics with recycled glass and mirror finishes.</p>
	<p>We invite you to explore the exquisite possibilities that our high-end line of leathers and suedes has to offer for all your residential or commercial applications.</p>
</div>
<div class='center_right'>
	<div id="tables">
		<table>
			<tr>
				<td><a href='plain'><img src='../static/img/plain1.jpg'><p>Luxe Finished Leather</p></a></td>
				<td><a href='/emboss'><img src='../static/img/emboss1.jpg'><p>Embossed Leather</p></a></td>
			</tr>
			<tr>
				<td><a href='/metalglass'><img src='../static/img/metalglass1.jpg'><p>Metallic and Recycled Glass</p></a></td>
				<td><a href='/tile'><img src='../static/img/tile1.jpg'><p>Leather Floor and Wall Tile
				</p></a></td>
			</tr>
			<tr>
				<td><a href='/embossed/digital'><img src='../static/img/emboss8.jpg'><p>Digitally Printed Leather</p></a></td>
			</tr>
		</table>
	</div>
</div>
{%endblock%}