{% extends 'template.html' %}
{% block content %}
<div class='center_left'>
    <div id = 'textbox'>
        <p id='first_para'><h3 id='starter'>I </h3> lluminare Studios has enjoyed a measure of success and acclaim as a purveyor of hand-colored custom leathers for use in fashion, interior design, and home goods.</p>
    </div>
</div>
<div class='center_right'>
    <div id="tables">
        <table>
            <tr>
                <td class="press_icon" class="press_icon">
                    <a href="press/hollywood"><img src="../../static/img/press_hollywood_interiors_logo.png" alt="Hollywood Interiors"></a>
                </td>
                <td class="press_icon">
                    <a href="press/latimes"><img src="../../static/img/press_la_times_logo.jpeg" alt="LA Times"></a>
                </td>
            </tr>
            <tr>
                <td class="press_icon">
                    <a href="press/western"><img src="../../static/img/press_western_interiors_logo.jpg" alt="Western"></a>
                </td>
                <td class="press_icon">
                    <a href="press/angeleno"><img src="../../static/img/press_angeleno_logo.png" alt="Angeleno"></a>
                </td>
            </tr>
            <tr>
                <td class="press_icon">
                    <a href="press/robb"><img src="../../static/img/press_robb_report_logo.png" alt="ROBB"></a>
                </td>
                <td class="press_icon">
                    <a href="press/archdigest"><img src="../../static/img/press_architectural_digest_logo.png" alt="Architectural Digest">
                </td>
            </tr>
            <tr>
                <td class="press_icon">
                    <a href="press/pci"><img src="../../static/img/press_pci_logo.png" alt="PCI"></a>
                </td>
                <td class="press_icon">
                    <a href="press/autoweek"><img src="../../static/img/press_autoweek_logo.jpg" alt="Autoweek"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
