{% extends 'template.html' %}
{% block content %}
<div class='center_left'>
	<div id = 'textbox'>
		<p id='first_para'><h3 id='starter'>W </h3> e work with third-party vendors.</p> 
		<p>We often feature handbags, shoe covers, and furniture. Our shop section is currently under construction, but when we are able to upload product, you can find them here.</p>
		<p>Pardon our mess!</p>
		<!-- <div id='basket'>
			<p>Basket goes here via Ajax requests</p>
				<div class="to_buy">
					<a href="/add">
					<a href="/delete">
				</div>
		</div> -->
	</div>
</div>
<div class='center_right'>
	<div id="solo">
		<img class="solo products" src="../../static/img/img_coming_soon.png">
	</div>
	<!-- <div id="shopwall">
		<p>Items go here</p>
		<hr>
		<div class="product_images"> -->
			<!-- 3 per row via media queries, image sizing -->
			<!-- <form with inputs for specifications to drop-down before add submission> -->
			 <!-- These will be input via jinja -->
			<!-- <input type="submit" class="add">Add</button> </form> -->
			<!-- <button class="remove">Remove</button> jquery hide -->
		<!-- </div>
		<div class="product_images"> -->
			<!-- <form with inputs for specifications to drop-down before add submission> -->
			<!-- <img class="products" src="../../static/img/leather_green.jpg"> These will be input via jinja -->
			<!-- <input type="submit" class="add">Add</button> </form> -->
			<!-- <button class="remove">Remove</button> jquery hide -->
		<!-- </div>
		<div class="product_images"> -->
			<!-- <form with inputs for specifications to drop-down before add submission> -->
			<!-- <img class="products" src="../../static/img/leather_brown.jpg"> These will be input via jinja -->
			<!-- <input type="submit" class="add">Add</button> </form> -->
			<!-- <button class="remove">Remove</button> jquery hide -->
		<!-- </div> -->
	<!-- </div> -->
</div>
{% endblock %}
