{% extends 'template.html'%}
{% block content %}
<!--Center Left -->
<div class='center_left'>
    <div id = 'textbox'>
        <p id='first_para'><h3 id='starter'>Agnello</h3></p>
        <p>Dye-sprayed finished natural cabretta. Can be done naked as well.</p>
        <div id='spacer'></div>
        <h4>10-12 sq feet</h4>
        <h4>Contact us for samples. Custom colors available.</h4>
    </div>
</div>
<!--Center Right-->
<div class='center_right'>
    <div id="solo" class="modal-row">
        <img class='solo modal-image'  onclick="openModal(); currentSlide(1);" src='../../../static/img/agnello.png' alt="Dye-sprayed finished natural cabretta.">
        <div class='next_link'>
            <p><a href='duke'>< Duke</a><a href='naked'>Naked ></a></p>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="the_modal" class="modal" onclick = "closeModal()">
    <span class="close cursor" >&times;</span>
    <div class="mySlides">
        <div class="numbers"></div>
        <img src='../../../static/img/agnello.png' alt="Dye-sprayed finished natural leather">
    </div>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
</div>

{% endblock %}