{% extends 'template.html'%}
{% block content %}
<!--Center Left -->
<div class='center_left'>
    <div id = 'textbox'>
        <p id='first_para'><h3 id='starter'>Everest</h3></p>
        <p>"Everest" series high-quality vacuum-dried naked cowhide with a natural patina and slight protective seal. Natural markings and patina are inherent to its beauty. A comparably tighter grain than Prima.</p>
        <p>Clockwise from top-left: British Tan, Charcoal, Yellow Cream, Grey, Blackened Blue, Saddle (center), Pearl Sand, Dark Brown </p>
        <h4>50 sq ft average</h4>
        <h4>$15.95/sq ft. Contact us for samples. Custom colors available.</h4>
    </div>
</div>
<!--Center Right-->
<div class='center_right'>
    <div id="solo" class="modal-row">
        <img class='solo modal-image'  onclick="openModal(); currentSlide(1);" src='../../../static/img/everest.png' style="object-fit: scale-down;" alt="Everest leather">
        <div class='next_link'>
            <p><a href='naked'>< Naked</a><a href='premiere'>Premiere ></a></p>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="the_modal" class="modal" onclick = "closeModal()">
    <span class="close cursor" >&times;</span>
    <div class="mySlides">
        <div class="numbers"></div>
        <img src='../../../static/img/everest.png' alt="Everest leather" style="max-height: 80vh">
    </div>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
</div>

{% endblock %}