{% extends 'template.html'%}
{% block content %}
<!--Center Left -->
<div class='center_left'>
    <div id = 'textbox'>
        <p id='first_para'><h3 id='starter'>Naked</h3></p>
        <p>"Naked" series. Aniline-dyed naked cowhide with a soft hand and an antiqued look and feel. Natural markings are inherent to its beauty.</p>
        <p>Main color: Beige Saddle. Top to bottom: Dark Brown, Canal, Black, Tigerlilly, Slate, Gray, Parchment, Sand, Caffe Latte, Beige Saddle, Brandy, Tan</p>
        <h4>60 sq ft average</h4>
        <h4>$15.95/sq ft. Contact us for samples. Stock colors only.</h4>
    </div>
</div>
<!--Center Right-->
<div class='center_right'>
    <div id="solo" class="modal-row">
        <img class='solo modal-image'  onclick="openModal(); currentSlide(1);" src='../../../static/img/naked3.png' style="object-fit: scale-down;" alt="Naked leather">
        <div class='next_link'>
            <p><a href='agnello'>< Agnello</a><a href='everest'>Everest ></a></p>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="the_modal" class="modal" onclick = "closeModal()">
    <span class="close cursor" >&times;</span>
    <div class="mySlides">
        <div class="numbers"></div>
        <img src='../../../static/img/naked3.png' alt="Naked leather" style="max-height: 80vh">
    </div>
    <div class="caption-container">
        <p id="caption"></p>
    </div>
</div>

{% endblock %}