{% extends 'template.html'%}
{% block content %}
<div class='center_left'>
        <div id = 'textbox'>
                <h3 id='starter'>Acura Concept Car</h3>
                <div id='spacer'></div>
                <p id='first_para'>Illuminare provided extensive seat and trim materials for this concept vehicle.</p>
        </div>
</div>

<div class='center_right'>
        <div id="tables">
                <table>
                        <tr class="modal-row">
                                <td>
                                        <img src='../static/img/acura1.jpg' alt="Acura steering wheel" class="modal-column" onclick="openModal(); currentSlide(1)">
                                </td>
                        <td>
                                        <img src='../static/img/acura2.jpg' alt="Acura exterior" class="modal-column" onclick="openModal(); currentSlide(2)">
                                </td>
                        </tr>
                        <tr class="modal-row">
                                <td>
                                        <img src='../static/img/acura3.jpg' alt="Acura seating" class="modal-column" onclick="openModal(); currentSlide(3)">
                                </td>
                                <td>
                                        <img src='../static/img/acura4.jpg' alt="Acura console" class="modal-column" onclick="openModal(); currentSlide(4)">
                                </td>
                        </tr>
                </table>
                <p></p>
                <div class="next_link">
                        <p><a href='/autos/bmw'>< BMW M5</a><a href='/autos/porsche'>Porsche Speedster ></a></p>
                </div>
        </div>
</div>

<div id="the_modal" class="modal">
        <span class="close cursor" onclick="closeModal();">&times;</span>
        <div class="mySlides">
                <div class="numbers">1 / 4</div>
                <img src="../static/img/acura1.jpg" onclick="plusSlides(1)" alt="Acura steering wheel">
        </div>
        <div class="mySlides">
                <div class="numbers">2 / 4</div>
                <img src="../static/img/acura2.jpg" onclick="plusSlides(1)" alt="Acura exterior">
        </div>
        <div class="mySlides">
                <div class="numbers">3 / 4</div>
                <img src="../static/img/acura3.jpg" onclick="plusSlides(1)" alt="Acura seating">
                >
        </div>
        <div class="mySlides">
                <div class="numbers">4 / 4</div>
                <img src="../static/img/acura4.jpg" onclick="plusSlides(1)" alt="Acura console">
        </div>
        
        <a class="modal-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="modal-next" onclick="plusSlides(1)">&#10095;</a>
        <div class="caption-container">
                <p id="caption"></p>
        </div>
</div>
{% endblock %}