{% extends 'template.html'%}
{% block content %}
<div class='center_left'>
        <div id = 'textbox'>
                <h3 id='starter'>Hyundai Concept Car</h3>
                <div id='spacer'></div>
                <p id='first_para'>Illuminare consulted with Hyundai on this concept car. </p>
        </div>
</div>
 <div class='center_right'>
        <div id="tables">
                <table>
                        <tr>
                                <td>
                                        <img src='../static/img/hyundai1.jpg' alt="Hyundai steering" class="modal-column" onclick="openModal(); currentSlide(1)">
                                </td>
                                <td>
                                        <img src='../static/img/hyundai2.jpg' alt="Hyundai exterior" class="modal-column" onclick="openModal(); currentSlide(2)">
                                </td>
                        </tr>
                        <tr>
                                <td>
                                        <img src='../static/img/hyundai3.jpg' alt="Hyundai interior" class="modal-column" onclick="openModal(); currentSlide(3)">
                                </td>
                                <td>
                                        <img src='../static/img/hyundai4.jpg' alt="Hyundai door panel" class="modal-column" onclick="openModal(); currentSlide(4)">
                                </td>
                        </tr>
                </table>
                <p></p>
                <div class="next_link">
                        <p><a href='/autos/custom'>< Custom Headliner</a><a href='/autos/bmw'>BMW M5 ></a></p>
                </div>
        </div>
</div>


<div id="the_modal" class="modal">
        <span class="close cursor" onclick = "closeModal()">&times;</span>
        <div class="mySlides">
                <div class="numbers">1 / 4</div>
                <img src="../static/img/hyundai1.jpg" onclick="plusSlides(1)" alt="Hyundai steering">
        </div>
        <div class="mySlides">
                <div class="numbers">2 / 4</div>
                <img src="../static/img/hyundai2.jpg" onclick="plusSlides(1)" alt="Hyundai exterior">
        </div>
        <div class="mySlides">
                <div class="numbers">3 / 4</div>
                <img src="../static/img/hyundai3.jpg" onclick="plusSlides(1)" alt="Hyundai interior">
                >
        </div>
        <div class="mySlides">
                <div class="numbers">4 / 4</div>
                <img src="../static/img/hyundai4.jpg" onclick="plusSlides(1)" alt="Hyundai door panel">
        </div>
        
        <a class="modal-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="modal-next" onclick="plusSlides(1)">&#10095;</a>
        <div class="caption-container">
                <p id="caption"></p>
        </div>
</div>
{% endblock %}