{% extends 'template.html'%}
{% block content %}
<div class='center_left'>
        <div id = 'textbox'>
                <h3 id='starter'>Porsche Speedster</h3>
                <div id='spacer'></div>
                <p id='first_para'>Illuminare provided and executed all aftermarket materials and interior styling for this privately-owned classic Porsche Speedster.</p>
                <p>Contact us for quotes. Custom aftermarket interiors are a specialty!</p>
        </div>
</div>
<div class='center_right'>
        <div id="tables">
                <table>
                        <tr class="modal-row">
                                <td>
                                        <img src='../static/img/porsche2.jpg' alt="Porsche Speedster steering" class="modal-column" onclick="openModal(); currentSlide(1)">
                                </td>
                                <td>
                                        <img src='../static/img/porsche1.jpg' alt="Porsche Speedster exterior" class="modal-column" onclick="openModal(); currentSlide(2)">
                                </td>
                        </tr>
                        <tr class="modal-row">
                                <td>
                                        <img src='../static/img/porsche3.jpg' alt="Porsche Speedster seating" class="modal-column" onclick="openModal(); currentSlide(3)">
                                </td>
                                <td>
                                        <img src='../static/img/porsche4.jpg' alt="Porsche Speedster console" class="modal-column" onclick="openModal(); currentSlide(4)">
                                </td>
                        </tr>
                </table>
                <p></p>
                <div class="next_link">
                        <p><a href='/autos/acura'>< Honda Acura Concept Car</a><a href='/autos/kia'>Kia Concept Car ></a></p>
                </div>
        </div>
</div>

<div id="the_modal" class="modal">
        <span class="close cursor" onclick = "closeModal()">&times;</span>
        <div class="mySlides">
                <div class="numbers">1 / 4</div>
                <img src='../static/img/porsche2.jpg' onclick="plusSlides(1)" alt="Porsche Speedster steering">
        </div>
        <div class="mySlides">
                <div class="numbers">2 / 4</div>
                <img src='../static/img/porsche1.jpg' onclick="plusSlides(1)" alt="Porsche Speedster exterior">
        </div>
        <div class="mySlides">
                <div class="numbers">3 / 4</div>
                <img src='../static/img/porsche3.jpg' onclick="plusSlides(1)" alt="Porsche Speedster seating">
                >
        </div>
        <div class="mySlides">
                <div class="numbers">4 / 4</div>
                <img src='../static/img/porsche4.jpg' onclick="plusSlides(1)" alt="Porsche Speedster console">
        </div>
        
        <a class="modal-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="modal-next" onclick="plusSlides(1)">&#10095;</a>
        <div class="caption-container">
                <p id="caption"></p>
        </div>
</div>
{% endblock %}