{% extends 'template.html'%}
{% block content %}
<!--Center Left-->
<div class='center_left'>
	<div id = 'textbox'>
		<p id='first_para'><h3 id='starter'>E </h3> xotic embossings from small geometric to florals, from rustic traditional to ultra-modern patterns. Over 150 plates are available for embossings on cowhide, calf, suede, cabretta, wall and floor tile. Natural weaves or hand-wiped in tone-on-tone or two-tone for added dimension. Your custom color and handwipe is our specialty.</p>
		<p>Animal plates are available for almost every faux look. We can make it look really real or really faux.</p>
	</div>
</div>
<div class='center_right'>
	<div id="tables">
		<table>
			<tbody>
				<tr>
					<td><a href='/embossed/impressions'><img src='../../static/img/emboss6.jpg'><p>Impressions Damask with Gold Wipe</p></a></td>
					<td><a href='/embossed/digital'><img src='../../static/img/emboss8.jpg'><p>Digitally Printed Leather
					</p></a></td>
				</tr>
				<tr>
					<td><a href='/embossed/abstracts'><img src='../../static/img/emboss10.jpg'><p>Custom Hand-Dyed Abstracts</p></a></td>
					<td><a href='/embossed/custom'><img src='../../static/img/emboss5.jpg'><p>Custom Patterns + Embossings
					</p></a></td>
				</tr>
			<tr>
				<td><a href='/embossed/large'><img src='../../static/img/emboss1.jpg'><p>Larger Scale Patterns</p></a></td>
				<td><a href='/embossed/animal'><img src='../../static/img/emboss2.jpg'><p>Animal Embossings</p></a></td>
			</tr>
			<tr>
				<td><a href='/embossed/small'><img src='../../static/img/emboss3.jpg'><p>Small Scale Patterns and Weaves</p></a></td>
				<td><a href='/embossed/woven'><img src='../../static/img/emboss4.jpg'><p>Natural Woven Embossings
				</p></a></td>
			</tr>
			<tr>
				<td><a href='/embossed/reptile'><img src='../../static/img/emboss9.jpg'><p>Reptile</p></a></td>
				<td><a href='/embossed/gaufrauge'><img src='../../static/img/emboss7.jpg'><p>Gaufrage</p></a></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}