{% extends 'template.html'%}
{% block content %}
<!--Center Left-->
<div class='center_left'>
	<div id = 'textbox'>
		<p id='first_para'><h3 id='starter'>O</h3> ur leathers are full-grain and completely aniline-dyed; supple and elegant with beautiful saturated color. The hides go from naked to fully finished. The textures run the gamut from smooth and slick to shrunken, pebbled and rough hewn. Finishes go from natural and waxy to ultra shiny, with everything in between. If you can think it up, it is more than likely we can produce it.</p>
		<p>We have cowhide, calfskin, cabretta and exotics. We use the finest hides, tanning and old-world dyeing processes, and careful hand finishing techniques. Our color work is unparalled. We stock many items and colorways, but specialize in custom color and finish work. Our small custom minimums make it easy for you get the perfect leather for your project. Come realize the potential of these versatile materials: create your own leather work of art.</p>
	</div>
</div>
<!--Center Right-->
<div class='center_right'>
	<div  id="tables">
		<table>
			<tr>
				<td ><a href="plain/duke"><img src="../../static/img/the_duke.png" alt="The Duke"></a></td>
				<td ><a href="plain/agnello"><img src="../../static/img/agnello.png"" alt="Agnello Leather"></a></td>
				<td ><a href="plain/naked"><img src="../../static/img/naked3.png" alt="Naked leather"></a></td>
			</tr>
			<tr>
				<td ><a href="plain/duke"><p>Duke</p></a></td>
				<td ><a href="plain/agnello"><p>Agnello</p></a></td>
				<td ><a href="plain/naked"><p>Naked</p></a></td>
			</tr>
			<tr>
				<td><a href="plain/everest"><img src="../../static/img/everest.png" alt="Everest Leather"></a></td>
				<td><a href="plain/premiere"><img src="../../static/img/prima.png"" alt="Premiere Naked Leather"></a></td>
				<td><a href='plain/finished'><img src='../../static/img/plain1.jpg'></a></td>
			</tr>
			<tr>
				<td><a href="plain/everest"><p>Everest</p></a></td>
				<td><a href="plain/premiere"><p>Premiere</p></a></td>
				<td><a href="plain/finished"><p>Luxe Finish</p></a></td>
			</tr>
			<tr>
				<td><a href='plain/toscana'><img src='../../static/img/plain2.jpg'></a></td>
				<td><a href='plain/grain'><img src='../../static/img/plain3.jpg'></a></td>
				<td><a href='plain/suede'><img src='../../static/img/plain5.jpg'></a></td>
			</tr>
			<tr>
				<td><a href="plain/toscana"><p>Toscana Leather</p></a></td>
				<td><a href="plain/grain"><p>Pebbled, Shrunken, and Smooth</p></a></td>
				<td><a href="plain/suede"><p>Suede</p></a></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}