{% extends 'template.html'%}
{% block content %}
<!--Center Left-->
<div class='center_left'>
	<div id = 'textbox'>
		<p id='first_para'><h3 id='starter'>O</h3> ur floor and wall tiles are vegetable tanned with natural pigments. This leather is weightier and will stand up to heavier use. It patinas with age and can be plain or embossed. The finishes run from natural veg to fully finished. We can do custom colors and sleek and shiny to matte finishes. Many sizes are available. Contact us for more details and samples.</p>
	</div>
</div>
<!--Center Right-->
<div class='center_right'>
	<div id="tables">
		<table>
			<tr>
				<td><a href='tile/floorem'><img src='../../static/img/tile1.jpg'><p>Embossed & Plain Floor Tile</p></a></td>
				<td><a href='tile/flooran'><img src='../../static/img/tile2.jpg'><p>Animal Print Floor Tile</p></a></td>
			</tr>
			<tr>
				<td><a href='tile/wall'><img src='../../static/img/tile3.jpg'><p>Wall Tile</p></a></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}